
.display-block{
  display: block !important;
}
.display-block1{
  display: block !important;
}
.toHide{
  display: none;
}
.toHide1{
  display: none;
}
.con{
    max-width: 1140px;
    margin: 0 auto;
    padding: 3rem 1rem;

    @media (max-width:1024px) {
        max-width: 960px;
        
    } 
}

.slider-bg{
    width: 100%;
    background-color: #fefbea;
}

.slider-con{
    // max-width: 1140px;
    margin: 0 auto;
    @media (max-width:1024px) {
        max-width: 960px;
        
    }
}
.pageNumbers {
  list-style: none;
  display: flex;
}

.pageNumbers li {
  padding: 10px;
  border: 1px solid #6c757d;
  cursor: pointer;
}

.pageNumbers li.active {
  background-color: #200a0a;
  color: rgb(255, 255, 255);
}

.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: #200a0a;
  font-size: 1rem;
  cursor: pointer;
}
.pageNumbers li button:hover {
  background-color: #200a0a;
  color: white;
}
.pageNumbers li button:focus {
  outline: none;
}

.loadmore {
  padding: 1rem;
  background-color: transparent;

  color: white;
  font-size: 1.2rem;
  border: 1px solid white;
  cursor: pointer;
}